extends ../../templates/index/default

block content
	section.hero-magrahanger
		.overlay
			.hero-content
				h1 SOFISTICADOS
				p Para quienes aman cuidar su buen vestir, Magra Hanger
				a.btn(href="https://res.cloudinary.com/dintair/image/upload/v1778957892/Magra%20Shoe%20Trees/Catalogo_magra_hanger.pdf" target="_blank") Catálogo completo

	section.impact-section
			.impact-container

				// TEXTO IZQUIERDA
				.impact-text
					h2 Colgadores personalizados
					h4 Tanto prenda como colgador deben ir de la mano
					p Una blazer, traje, camisa o chaqueta toman tiempo de confección, por lo tanto es una prenda fina que merece un cuidado apropiado.

				// IMAGEN DERECHA
				.impact-image
					img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777838261/IMG_5568_sbrsfw.jpg", alt="Magra Premium Craft")
    

	section.impact-section
			.impact-container
				.impact-image
					img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777836385/IMG_5186_o3kvrm.jpg", alt="Magra Premium Craft")
					
				.impact-text
					h2 Hechos a medida
					h4 Un colgador de ropa como ningún otro
					p Cada etapa del proceso de fabricación tiene ciencia y medidas excatas para un resultado hermoso y elegante.
	

	section.products-section
		.products-header
			h2 Nuestros Modelos
			p Diseñadas para preservar la elegancia y estructura de tu calzado

		.products-grid-hanger

			.product-card
				img(src="https://res.cloudinary.com/dintair/image/upload/v1778551171/Magra%20Shoe%20Trees/Captura_de_pantalla_2026-05-11_205857.png", alt="Colgador camisa")
				h3 Colgador para camisa
				a.product-btn(href="https://res.cloudinary.com/dintair/image/upload/v1778957892/Magra%20Shoe%20Trees/Catalogo_magra_hanger.pdf" target="_blank") Ver más

			.product-card
				img(src="https://res.cloudinary.com/dintair/image/upload/v1778551006/Magra%20Shoe%20Trees/IMG_6672.jpg", alt="Colgador traje")
				h3 Colgador para traje
				a.product-btn(href="https://res.cloudinary.com/dintair/image/upload/v1778957892/Magra%20Shoe%20Trees/Catalogo_magra_hanger.pdf" target="_blank") Ver más

			.product-card
				img(src="https://res.cloudinary.com/dintair/image/upload/v1778551006/Magra%20Shoe%20Trees/IMG_6678.jpg", alt="Colgador bespoke")
				h3 Colgador Bespoke
				a.product-btn(href="https://res.cloudinary.com/dintair/image/upload/v1778957892/Magra%20Shoe%20Trees/Catalogo_magra_hanger.pdf" target="_blank") Ver más
	
	
	section.market-section
		.products-header
			h2 Puntos de venta
			p Conoce nuestro trabajo

		.impact-container
			.section-magdalena
				.overlay
					.text-inside
						h1 Magdalena del Mar
						h2 Galeía San Martín - Stand 161
						h5 Martes-Sábado de 2pm a 8pm
						a.btn(href="https://maps.app.goo.gl/PY481Cy8epBYgnU18" target="_blank") Ver ubicación
      


	section.family-brands
		.products-header
			h2 Conoce nuestra familia de marcas
			p Los hormas y pedestales de guitarra más exclusivos del país

		.impact-container
			.section-MagraHanger
				.impact-image
					a(href="/")
						img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777834433/logo_magrashoetrees_ap3nsx.png", alt="MagraShoeTrees")

			.section-GuiTartStands
				.impact-image
					a(href="/GuiTartStands")
						img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777829953/Guitart_-_logo_yadz5p.png", alt="GuiTartStands")




	footer
		div.a_box_footer
			h2 © 2026 MAGRA SHOE TREES






     
