if message.length > 0
    p.messagesend<strong></strong> #{message}


header.header
  .nav-container

    // LOGO IZQUIERDA
    .logo
      a(href="/")
        img(src="/images/magrashoetrees/logo_magrashoetrees.png", alt="Magra Shoe Trees")

    // MENÚ CENTRADO
    nav.HomePage.nav.menu
      ul
        li
          a.active(href="/MagraHanger") Magra Hanger

        li
          a.action(href="/GuiTartStands") GuiTartStands

        li.none
          a.action(href='/') Contacto

    div.menu-toggle
      i(class="fas fa-bars")






script(src='/javascripts/index.js')
script(src='/javascripts/index/navBar/script.js')
        