extends ../templates/index/default

block content
	section.hero
		.overlay
			.hero-content
				h1 LAS HORMAS DEL PERU
				p Hechas con precisión. Fabricadas para ser necesarias
				a.btn(href="/images/magrashoetrees/Catalogo_magrashoetrees.pdf" target="_blank") Catálogo completo

	section.impact-section
			.impact-container

				// TEXTO IZQUIERDA
				.impact-text
					h2 Nuestras Hormas
					h4 Diseñamos con propósito
					p No es casualidad que nuestras hormas tengan esa forma, por que tanto talón como empeine han sido pensados para formar y cuidar el calzado a un nivel premium. 

					.impact-stats
						.stat
							h3 4
							span Preciosos modelos

						.stat
							h3 700+
							span Zapatos bien formados

				// IMAGEN DERECHA
				.impact-image
					img(src="/images/magrashoetrees/nuestras_hormas.jpg", alt="Magra Premium Craft")
	
	section.products-section
		.products-header
			h2 Nuestros Modelos
			p Diseñadas para preservar la elegancia y estructura de tu calzado

		.products-grid

			.product-card
				img(src="/images/magrashoetrees/Hormas_sport.png", alt="Hormas Sport")
				h3 Hormas Sport
				a.product-btn(href="/images/magrashoetrees/Catalogo_magrashoetrees.pdf" target="_blank") Ver más

			.product-card
				img(src="/images/magrashoetrees/Hormas_casuales.png", alt="Hormas Casuales")
				h3 Hormas Casuales
				a.product-btn(href="/images/magrashoetrees/Catalogo_magrashoetrees.pdf" target="_blank") Ver más

			.product-card
				img(src="/images/magrashoetrees/Hormas_de_vestir.png", alt="Hormas de vestir")
				h3 Hormas de Vestir
				a.product-btn(href="/images/magrashoetrees/Catalogo_magrashoetrees.pdf" target="_blank") Ver más

			.product-card
				img(src="/images/magrashoetrees/Hormas_bota.png", alt="Hormas para bota")
				h3 Hormas para Bota
				a.product-btn(href="/images/magrashoetrees/Catalogo_magrashoetrees.pdf" target="_blank") Ver más
	
	
	section.market-section
		.products-header
			h2 Puntos de venta
			p Conoce nuestro trabajo

		.impact-container
			.section-magdalena
				.overlay
					.text-inside
						h1 Magdalena del Mar
						h2 Galeía San Martín - Stand 161
						h5 Martes-Sábado de 2pm a 8pm
						a.btn(href="https://maps.app.goo.gl/PY481Cy8epBYgnU18" target="_blank") Ver ubicación

			.section-sanisidro
				.overlay
					.text-inside
						h1 San Isidro
						h2 Botería Negreiros
						h5 Lunes-Sábado de 11am a 8pm
						a.btn(href="https://maps.app.goo.gl/XNoWBwCWtqMBkKZT6" target="_blank") Ver ubicación
      
      


	section.family-brands
		.products-header
			h2 Conoce nuestra familia de marcas
			p Los colgadores y pedestales de guitarra más exclusivos del país

		.impact-container
			.section-MagraHanger
				.impact-image
					a(href="/MagraHanger")
						img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777829953/Hanger_-_logo_tmtjcd.png", alt="MagraHnager")

			.section-GuiTartStands
				.impact-image
					a(href="/GuiTartStands")
						img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777829953/Guitart_-_logo_yadz5p.png", alt="GuiTartStands")




	footer
		div.a_box_footer
			h2 © 2026 MAGRA SHOE TREES



  
//script(src='/javascripts/searchengine/searchprincipal.js')
//script(src='/javascripts/validations/placeholderChange.js')





     
