extends ../../templates/index/default

block content
	section.hero-guitartStands
		.overlay
			.hero-content
				h1 UNA PIEZA DE EXHIBICIÓN
				p Haz que tu guitarra sea el centro de atención
				a.btn(href="/images/guitartstands/catalogo_guitart_stand.pdf" target="_blank") Catálogo completo

	section.impact-section
			.impact-container

				// TEXTO IZQUIERDA
				.impact-text
					h2 Hecho para tu guitarra
					h4 Tu guitarra merece verse, no esconderse
					p Ya sea que tengas una oficina, sala, galería o salón de juegos, dale a tu guitarra el espacio que merece.

				// IMAGEN DERECHA
				.impact-image
					img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777850958/flyer_-_guitart_stand_Madera_mccbvf.png", alt="Magra Premium Craft")
    

	section.impact-section
			.impact-container
				.impact-image
					img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777902812/IMG_4408_mlauyp.jpg", alt="Magra Premium Craft")
					
				.impact-text
					h2 Personalización que va con tu guitarra
					h4 Cada detalle es único por donde se mire
					p Aquí estmamos viendo nuestro pedestal Gran Concierto donde mezclamos la preciosa madera Palo Sangre con el blanca y fuerte Capirona. Hermoso trabajo.
	

	section.products-section
		.products-header
			h2 Nuestros Modelos
			p Diseñados para que tu guitarra sea el centro de atención

		.products-grid-hanger

			.product-card
				img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777903044/Guitart_Stand_-_Class_csp2ii.png")
				h3 GTS-1 Class
				a.product-btn(href="/images/guitartstands/catalogo_guitart_stand.pdf" target="_blank") Ver más

			.product-card
				img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777902823/Guitart_Stand_-_Studio_c5e59y.png")
				h3 GTS-2 Studio
				a.product-btn(href="/images/guitartstands/catalogo_guitart_stand.pdf" target="_blank") Ver más

			.product-card
				img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777902832/Guitart_Stand_-_Gran_concierto_1_hhqn5f.png")
				h3 GTS - Gran concierto
				a.product-btn(href="/images/guitartstands/catalogo_guitart_stand.pdf" target="_blank") Ver más
	
	
	section.market-section
		.products-header
			h2 Puntos de venta
			p Conoce nuestro trabajo

		.impact-container
			.section-magdalena
				.overlay
					.text-inside
						h1 Magdalena del Mar
						h2 Galeía San Martín - Stand 161
						h5 Martes-Sábado de 2pm a 8pm
						a.btn(href="https://maps.app.goo.gl/PY481Cy8epBYgnU18" target="_blank") Ver ubicación
      


	section.family-brands
		.products-header
			h2 Conoce nuestra familia de marcas
			p Los hormas y colgadores más exclusivos del país

		.impact-container
			.section-MagraHanger
				.impact-image
					a(href="/")
						img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777834433/logo_magrashoetrees_ap3nsx.png", alt="MagraShoeTrees")

			.section-GuiTartStands
				.impact-image
					a(href="/MagraHanger")
						img(src="https://res.cloudinary.com/dz0610bcp/image/upload/v1777829953/Hanger_-_logo_tmtjcd.png", alt="GuiTartStands")




	footer
		div.a_box_footer
			h2 © 2026 MAGRA SHOE TREES






     
